@import "@/app/scss/animations.scss";


.hotBoard {
  min-height: 30vh;
  animation: slideIn ease-in-out .5s forwards;
  opacity: 0;
  transition: all 0.2s;
}

.hotBoardNewsList {
  height: calc(100% - 35px);
  margin-bottom: 16px;
  overflow: scroll;
}

.fade-in {
  animation: fadeIn 0.5s;
}
