@use "@/app/scss/animations.scss";


.hotBoard {
  position: relative;
  min-height: 40vh;
  transition: all 0.2s;

  &.hide {
    opacity: .5 !important;
  }

  &.normal {
    opacity: 0;
    animation: slideIn ease-in-out .5s forwards;
  }

  &.edit-mode {
    opacity: 1;

    &:active {
      cursor: grabbing;
    }

    &:focus {
      cursor: grabbing;
    }
  }
}

.hotBoardNewsList {
  height: calc(100% - 35px);
  margin-bottom: 16px;
  overflow: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

.user-settings {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;

  .drag-button, .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #000;
    font-size: 1.2rem;
    transition: all 0.2s;

    &:hover {
      background-color: #e0e0e0;
    }

    &:active {
      background-color: #d5d5d5;
      cursor: grabbing;
    }
  }

  .toggle-button {
    // while state is show the button color is red
    // while state is hide the button color is green
    background-color: #f44336;
    color: #fff;

    &.hide {
      background-color: #4caf50;
    }
  }
}
