.fake-mask {
  animation: fadeIn 0.5s;
}

.logo {
  will-change: auto;
  &:hover {
    animation: spark 0.5s;
  }
}

/** spark animation */
@keyframes spark {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
