@use "../../app/scss/animations.scss";

.card {
  animation: slideIn ease-in-out 0.5s;
  overflow: hidden;

  .card-action-part {
    height: 11vh;
    z-index: 1;
    transition: all 1s;
    transform: translate3d(0, 100%, 0);
    backdrop-filter: blur(10px);
    opacity: 0;
    will-change: auto;
  }

  &:hover .card-action-part {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }


}



