.input-blink {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;

  &::after {
    content: ' 1';
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-left: 2px;
    background-color: #fff;
    color: transparent;
    animation: blink .5s infinite;
  }
}
