.input-blink {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;


  &.hide-cursor {
    &::after {
      display: none;
    }
  }
  &::after {
    content: ' 1';
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-left: 2px;
    background-color: var(--color-text);
    color: transparent;
    animation: blink .5s infinite;
  }
}
