@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace, sans-serif;
  font-size: var(--text-size);
}

/**
定制化的 scroll bar 的样式，
颜色为 var(--color-primary)
 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  transition: all 0.5s;
}

:root {
  --text-size: 14px;

  /* 主色调 */
  --color-background: rgba(223, 242, 235, 0.95);
  --color-primary: rgba(185, 229, 232, 0.9);
  --color-secondary: rgba(122, 178, 211, 0.85);
  --color-tertiary: rgba(74, 98, 138, 0.95);
  --color-quaternary: rgba(203, 220, 235, 0.85);

  /* 文本颜色 */
  --color-text: rgba(40, 44, 52, 0.9);
  --color-text-light: rgba(255, 255, 255, 0.95);
  --color-text-dark: rgba(0, 0, 0, 0.85);
  --color-text-secondary: rgba(102, 102, 102, 0.75);

  /* 边框颜色 */
  --color-border: rgba(204, 204, 204, 0.6);
  --color-border-dark: rgba(51, 51, 51, 0.7);

  /* 功能色 */
  --color-success: rgba(40, 167, 69, 0.9);
  --color-success-hover: rgba(33, 136, 56, 0.95);
  --color-success-active: rgba(30, 126, 52, 1);
  --color-success-text: rgba(255, 255, 255, 0.95);

  /* 应用变量 */
  --color-navbar-background: var(--color-tertiary);
  --color-hot-border-background: rgba(185, 229, 232, 0.8);
  --color-card-background: rgba(203, 220, 235, 0.75);
  --color-transparent-background: rgba(255, 255, 255, 0.6);

  /* 编辑器友好的颜色 */
    --color-editor-background: rgba(255, 255, 255, 0.7);
    --color-editor-text: rgba(0, 0, 0, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 主色调 - 暗色模式 */
    --color-background: rgba(26, 54, 54, 0.95);
    --color-primary: rgba(103, 125, 106, 0.85);
    --color-secondary: rgba(64, 83, 76, 0.9);
    --color-tertiary: rgba(26, 54, 54, 1);
    --color-quaternary: rgba(98, 149, 132, 0.8);

    /* 文本颜色 - 暗色模式 */
    --color-text: rgba(226, 226, 226, 0.9);
    --color-text-light: rgba(255, 255, 255, 0.95);
    --color-text-dark: rgba(0, 0, 0, 0.85);
    --color-text-secondary: rgba(204, 204, 204, 0.8);

    /* 边框颜色 - 暗色模式 */
    --color-border: rgba(204, 204, 204, 0.4);
    --color-border-dark: rgba(51, 51, 51, 0.8);

    /* 功能色 - 暗色模式 */
    --color-success: rgba(40, 167, 69, 0.75);
    --color-success-hover: rgba(33, 136, 56, 0.8);
    --color-success-active: rgba(30, 126, 52, 0.85);
    --color-success-text: rgba(255, 255, 255, 0.95);

    /* 应用变量 - 暗色模式 */
    --color-transparent-background: rgba(0, 0, 0, 0.6);
    --color-card-background: rgba(98, 149, 132, 0.3);
    --color-hot-border-background: rgba(103, 125, 106, 0.6);

    /* 编辑器友好的颜色 - 暗色模式 */

    --color-editor-background: rgba(255, 255, 255, 0.5);
    --color-editor-text: rgba(255, 255, 255, 0.9);
  }
}
